/ {

    aliases {
        button1 = &button_1;
        pps0 = &pps_0;
    };

    chosen {
        zephyr,console = &usb_serial;
        zephyr,shell-uart = &usb_serial;
    };

    buttons {
        compatible = "gpio-keys";
        polling-mode;
        button_1: d4 {
            gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
        };
    };

    gnss-pps {
        compatible = "gpio-keys";
        polling-mode;
        pps_0: d3 {
            gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
        };
    };
    
};

&usb_serial {
	status = "okay";
};