/ {

    aliases {
        pps0 = &pps_0;
    };

    gnss-pps {
        compatible = "gpio-keys";
        polling-mode;
        pps_0: d3 {
            gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
        };
    };
    
};